/* 登录及注册模块的样式 */
.loginBoard, .registBoard{
	margin-top: 50px;
}
.loginBoard span, .registBoard span{
	float:left;
	margin-left: 80px;
	line-height: 35px;
}
#loginNumber, #loginPassword, #registNumber, #registEmail, #registPassword, #passwordConfirm{
	font-size: 15px;
	font-family: Microsoft Yahei, Arial, Sans-serif;
	width:220px;
	height:28px;
	line-height: 25px;
	margin-bottom:10px;
	margin-left: 8px;
	padding-left: 3px;
	padding-right:3px;
	border:1px solid #bbb; 
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	outline:none;	
}
#loginClick, #registClick{
	font-family: Microsoft Yahei, Arial, Sans-serif;
	font-size: 15px;
            width:90px;
            height:35px;
            float: left;
            margin-left: 120px;
            margin-bottom: 60px;
            border:1px solid #bbb;
            border-radius: 5px;
            -webkit-border-radius:5px;
            -moz-border-radius:5px;
            cursor:pointer;                    /* 不用 hand */
}
.modal-header{
	background-color: #8cbf26;
}
.modalTitle{
	color:rgb(255,255,255);
}
