/* Css for class 6 - main */
body{
	font-family: Microsoft Yahei, Arial, Sans-serif;
	font-size:15px;
}
/* 导航栏整体框架 */
.header{
	width:100%;
	height:80px;
	background-color: #8cbf26;
	border-bottom: 3px solid #ccc;
	position:absolute;
	top:0px;
	left:0px;
}
/* 六班标志 */
.logo img{
	width:150px;
	height:80px;
	border:0px;
	float:left;
	margin-left: 30px;
}
/* 固定主导航 */
.navigation{
	width:800px;
	height:60px;
	float:left;
	position:absolute;
	/*margin-left:50px; */
	margin-left: 230px;
	margin-top:31px;
}
.navigation ul{
	list-style-type:none;	
}
.navigation ul li a{
	float:left;
            display:inline;             /* avoid ie6 BUG */
	min-width:80px;
	height:35px;
	line-height: 35px;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-right:1px solid #bbb;
	border-bottom:1px solid #bbb;
	border-radius: 3px;
	font-size:16px;
	font-family:Microsoft Yahei, Arial, Sans-serif;
	text-decoration:none;
	text-align:center;
}
.navigation ul li a:link, li a:visited{
	color:rgb(0,152,255);
	background-color:#fff;
}
/* hover after link and visited makes sense */
.navigation ul li a:hover{
	background-color:rgb(0,152,255);
	color:#fff;
}
/* active after hover makes sense */
.navigation ul li a:active{                                                            
	border-top:1px solid #bbb;
	border-left:1px solid #bbb;
	border-right:1px solid #fff;
	border-bottom: 1px solid #fff;
}
/* 登录和注册按钮 */
.loginRegist{
	font-size: 16px;
	font-family: Microsoft Yahei, Arial, Sans-serif;
	float:right;
	position:absolute;
	margin-top: 35px;
            right:12px;
}
.login, .regist{
	text-decoration:none;
	width:60px;
	height:33px;
	line-height:33px;
	float:left;
	display:block;
	text-align:center;
}
a.login{
	background-color: #fff;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	border-radius: 3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}
a.login:link, a.login:visited{
	color:rgb(0,152,255);
	background-color: #fff;
	text-decoration: none;
}
a.login:hover{
	color:#fff;
	background-color:rgb(255,165,0);
	text-decoration: none;
}
a.login:active{
	border-left: 1px solid #bbb;
	border-top: 1px solid #bbb;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	text-decoration: none;
}
a.regist{
	background-color: rgb(0,152,255);
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	border-radius: 3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}
a.regist:link, a.regist:visited{
	color: #fff;
	background-color: rgb(0,152,255);
	text-decoration: none;
}
a.regist:hover{
	color:#fff;
	background-color:rgb(255,165,0);
	text-decoration: none;
}
a.regist:active{
	border-left: 1px solid #bbb;
	border-top: 1px solid #bbb;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	text-decoration: none;
}
/* 导航搜索框*/
.box {
	position: absolute;
	margin-top: 36px;
            right:170px;
	text-align: left;
}
.assistive{
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
#searchArea{                                                 /* 注意要使用 id，而不能使用 class，否则样式无效 */
	font-size: 14px;
	font-family: Microsoft Yahei, Arial, Sans-serif;
	float:left;
            width: 90px;
            height: 22px;
            line-height: 22px;
            padding: 4px 10px 4px 28px;
	background: url(../images/search.jpg) no-repeat 5px 6px;
	background-color: #f9f9f9;
	border: 1px solid #fff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;

	-webkit-transition-property: width, background;
	-webkit-transition-duration: 400ms;
	-webkit-transition-timing-function: ease;
	
	-moz-transition-property: width, background;
	-moz-transition-duration: 400ms;
	-moz-transition-timing-function: ease;

	transition-property: width, background;
	transition-duration: 400ms;
	transition-timing-function: ease;
            
}
#searchArea:focus {
	background-color: #f9f9f9;
	width: 150px;	
}
#searchSubmit{
	display: none;
}
/* 用户信息及用户退出 */
.loginOut{
	position:absolute;       /* 注意这里使用 absolute 与 fixed 的区别 */
	top:5px;
	right:15px;
	color:rgb(255,255,255);
	font-size: 15px;
}
.loginOut a{
	text-decoration: none;
	margin-left:5px; 
}
.loginOut a:link, .loginOut a:visited, .loginOut a:hover{
	color:rgb(255,255,255);
}
.modal-footer a:first-child{
	color: #000;
}
.modal{
	width:450px;
	left:54%;
}
.out{
	font-size: 16px;
	color:rgb(255,255,255);
}
/* 导航栏下方主内容模块 */
.container{
	width:100%;                    /* hide the bottom screen bar */
	height:1400px;
	float:left;
	position:absolute;
	margin-top: 108px;
}
.content{
	width:1010px;
	height:1350px;
	background-color: #fff;
	position:relative;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	border:1px solid #ccc;
	-webkit-box-shadow:1px 2px 5px #bbb;
	-moz-box-shadow:1px 2px 5px #bbb;
	box-shadow:1px 2px 5px #bbb;      /* X-offset、Y-offset、blur、color */
}
.left{
	width:810px;
	height:100%;
	float:left;
	border-right:1px solid #bbb;
}
/* 六班公告模块 */
.announce{
	width:100%;
	height:250px;
	border-bottom: 1px solid #bbb;
}
.announceLists ul :nth-child(1), .announceLists ul :nth-child(4){
	float:left;
	list-style-type: none;
	border:1px dashed #bbb;
	width:20px;
	height:143px;
	padding: 25px;
	margin-top: 4px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.announceLists ul :nth-child(1){
	margin-left: -15px;
	background-color: rgb(238,233,238);
}
.announceLists ul :nth-child(4){
	margin-left: 13px; 
	background-color: rgb(238,233,238);
}
.announceLists ul :nth-child(2), .announceLists ul :nth-child(3){
	float:left;
	list-style-type: none;
	border:1px dashed #bbb;
	width:290px;
	height:183px;
	margin-left: 13px;
	margin-top: 4px;
	padding:5px;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.announceLists ul :nth-child(3){
	background-color: rgb(255,231,186);
}
.announceLists ul :nth-child(2){
	background-color: rgb(224,255,255);
}
/* 六班图坝模块 */
.album{
	width:100%;
	height:250px;
	border-bottom: 1px solid #bbb;
}
.albumFrame{
	width:98%;
	height:214px;
	margin-top: 10px;
}
/* 技术潮六模块 */
.communication{
	width:100%;
	height:500px;
	border-bottom: 1px solid #bbb;
}
.techKind1, .techKind2, .techKind3{
	width:254px;
	height:276px;
	border:1px dashed #bbb;
	float:left;
	margin-left: 10px;
	margin-top: 15px;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	list-style-type: none;
}
.techKind1 li, .techKind2 li, .techKind3 li{
	width:234px;
	height:36px;
	line-height: 36px;
	border-bottom: 1px dashed #bbb;
	float:left;
	margin-left:10px;
}
.techKind1 li:first-child, .techKind2 li:first-child, .techKind3 li:first-child{
	height:55px;
	line-height: 55px;
	text-align: center;
}
.techKind1 li:last-child, .techKind2 li:last-child, .techKind3 li:last-child{
	border:none;
}
.techItem1, .techItem2, .techItem3, .techItem4{
	width:188px;
	height:150px;
	text-align: center;
	border:1px dashed #bbb;
	float:left;
	padding:0px;
	margin-left: 10px;
	margin-top: 0px;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	list-style-type: none;
}
.techItem1 li, .techItem2 li, .techItem3 li, .techItem4 li{
	line-height: 150px;
}
.techItem4{
	width:186px;
}
/* 功课资料模块 */
.classSource{
	width:100%;
	height:200px;
}
.sourceMore, .messageMore{
	float:right;
	margin-right: 12px;
	margin-top:-18px;
}
.sourceTable{
	margin-top: 15px;
	margin-left:10px;
	text-align: center;
}
.sourceTable, .sourceTable tr th, .sourceTable tr td{
	border:1px dashed #bbb;
	border-collapse: collapse;
}
/*
.sourceTable tr:nth-child(2n){
	background-color: rgb(144,238,144);
}
*/
.sourceTitle{
	width:160px;
	height:33px;
}
.sourceMan{
	width:65px;
}
.sourceDateOn, .sourceDateOff{
	width:95px;
}
.sourceDowned{
	width:60px;
}
.sourceNotice{
	width:252px;
}
.sourceDownload{
	width:40px;
}
.download{
	width:20px;
	height:20px;
	border:0px;
}
.sourceList{
	height:27px;
}
.right{
	width:auto;
	height:100%;
	float:right;
}
/* 六班生日模块 */
.birthNews{
	width:199px;
	height:250px;
	border-bottom: 1px solid #bbb;
}
.birthGift{
	float:right;
	margin-right: 12px;
	margin-top: -25px;
	margin-bottom: -8px;
}
.birthGift img{
	width:28px;
	height:28px;
	border:0;
}
.birthBoard{
            float:left;
	margin-left:-17px;
}
.birthBoard ul{
	list-style-type: none;
}
.date, .birthOne, .birthTwo{
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.date{
	width:180px;
	height:30px;
	line-height: 30px;
	background-color: rgb(202,255,112);
	border:1px dashed #bbb;
	margin-top: 14px;
	text-align: center;
}
.birthOne, .birthTwo{
            width:180px;
	height:68px;
	line-height: 34px;                    /* to set middle */
	margin-top: 12px;
	text-align: center;
	border: 1px dashed #bbb;
}
.birthOne{
	background-color: rgb(255,105,180);
}
.birthTwo{
	background-color: rgb(175,238,238);
}
/* 六班留言模块 */
.messageBoard{
	width:199px;
	height: auto;
	border-bottom:none;
}
.messages{
	float:left;
	margin-left: -17px;
}
.messages ul{
	list-style-type: none;
}
.message{
	width:180px;
	height:160px;
	border: 1px dashed #bbb;
	margin-top: 10px;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.message p{
	width:180px;
	height:120px;
	line-height: 20px;
	margin: 0px;
	font-size: 14px;
	padding-left:5px;
	padding-right:0px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.listMan{
	width:80px;
	height:30px;
	line-height: 30px;
	text-align: center;
	border-right: 1px dashed #bbb;
	border-top: 1px dashed #bbb;
	margin:0px;
	padding:0px;
	float:left;
	position: absolute;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.listDate{
	width:100px;
	height:30px;
	line-height: 30px;
	text-align: center;
	border:none;
	border-top: 1px dashed #bbb;
	margin:0px;
	padding:0px;
	float:right;
	position:relative;
}
/* 各个模块题目标题 */
.titleBar{
	width:70px;
	height:23px;
	padding-top: 3px;
	padding-left: 5px;
	background-color: rgba(45,65,126,0.5);
	color:rgb(255,255,255);
	box-shadow:1px 1px 5px #bbb;
	-webkit-box-shadow:1px 1px 5px #bbb;
	-moz-box-shadow:1px 1px 5px #bbb;
}
/* 页脚模块 */
.footer{
	width:100%;
	height:50px;
	line-height: 35px;
	text-align: center;
	color:#bbb;
	margin-top: 1465px;
	float:left;
	position:relative;
	z-index: 0;	
}
/* 回顶部固定按钮 */
.scrollTop{
	position:fixed;
	bottom:80px;
	right:50px;
	width:44px;
	height:44px;
	cursor:pointer;
}
.scrollTop img{
	width:44px;
	height:44px;
}